// Domain Namespace
.RT-namespace {
    color: #ddbdff;
    font-weight: 500;
}
// Domain Function
.RT-fn {
    color: #ffbadd;
    font-weight: 500;
}
// Domain with subquery namespace
.RT-subq {
    color: #c0d9ff;
    font-weight: 500;
}

// actual search term
.RT-term {
    color: #ffbd94;
    font-weight: 400;
    // // italics
    // font-style: italic;
}

.RT-autocomplete {
    color: #ffffff5f;
    font-weight: 400;
}