// Domain Namespace
.RT-namespace {
    color: #ddbdff;
    font-weight: 500;
}
// Domain Function
.RT-fn {
    color: #ffbadd;
    font-weight: 600;
}
// Domain with subquery namespace
.RT-subq {
    color: #c0d9ff;
    font-weight: 600;
}

// actual search term
.RT-term {
    color: #ffffff;
    font-weight: 600;
    // italics
    font-style: italic;
}

.RT-autocomplete {
    color: #ffffff95;
    font-weight: 400;
}